$font-stack:   'Roboto', sans-serif;
$mainblue: #1ABBA1;
$darkblue: #293F54;
$lightblue: #3398DC;
$grey1: #303030;
$purple1: #A554C0;
$text1: #FFFFFF;
$primary: #00838f;

$teal:   #00796B;

$primary-color-dark:   #E64A19;
$primary-color:        #FF5722;
$primary-color-light:  #FFCCBC;
$primary-color-text:   #FFFFFF;
$accent-color:         #607D8B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

.card-footer {
 display: flex;
 justify-content: space-between;
 align-items: center;

}
.card-firstline {
  display: flex;
  .card-autor {
  justify-content: flex-start;
  }
  .duetime {
    justify-content: flex-end;
  }
}
.card-title {
  font-size: 1.2rem !important;
}

.totalContributors, .minContributions {
  font-size: 1.1rem;
  border-left: grey 1px;
}

.duetime {
  justify-content: flex-end;
}


.collection-item {
 text-align: left;
}

.nofocus {
  display: none;
}

body {
  font-size: 0.9rem;
  font-family: $font-stack;
}

h1,h2,h3 {
  font-size: 2rem;
}
.nav-header {
  background-color: $teal !important;
  color: white !important;
}

btn-add {
  position: absolute;
  z-index: 10;
}

small {
  color: $mainblue;
  font-size: 0.9rem;
}

.split-input {
  display: flex;
  justify-content: space-between;
  text-align: center;
}


.advanced-hide {

}

.currencyinput {
    border: 1px inset #ccc;
}
.currencyinput input {
    border: 0;
}


.logo{
  font-weight: bold;
  font-size: 18px;
}

.nav-footer {
  background-color: #F2F2F2 !important;
  position: fixed !important;
  bottom: 0px !important;
}

.nav-footer i {
    color: #8D8D92 !important;
}

.btn-custom {
  background-color: $mainblue !important;
}

// Navbar
.title-center {
  text-align: center;
}
.App {
  text-align: center;
}

.Page {
  text-align: center;
}

.Section {
  margin: 0 5%;
}

.hyper-text {
  color: $lightblue;
}

.fb-login {
  padding-top: 40px;
  width: 80%;
}

.ul-flex {
  display: flex;
  justify-content: space-between;
  margin: 0 5%;
}
.ul-flex li {
  margin: 0px;
}

.ul-flex li:hover {
  border-bottom: pink !important;
}
.img-circle {
  border-radius: 50%;
}
.user-name {
  color: $darkblue;
}
.karma {
  height: 15px;
  width: 15px; }

.form {
  text-align: left;
}
.group-inline {
  display: flex;
  margin-bottom: 50px;
}

.subtext {
  font-size: 9px;
  color: grey;
}

.showdate {
  margin-left: 40px;
}

.input-label {
  color: $darkblue;
  font-size: 16px;
}

.card-content {
  text-align: left;
}
@media screen and (min-width: 700px) {
    .Page {
      margin: 0 30%;
    }
}

.btn-floating i{
  // font-family: $font-stack;
  // font-size: 1.2rem !important;
  min-width: 56px !important;
  color: #fff !important;
  // background-color: $teal !important;
}
