body {
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif; }

h1, h2, h3 {
  font-size: 2rem; }

.nav-header {
  background-color: #293F54 !important;
  color: white !important; }

btn-add {
  position: absolute;
  z-index: 10; }

small {
  color: #1ABBA1;
  font-size: 0.9rem; }

.logo {
  font-weight: bold;
  font-size: 18px; }

.nav-footer {
  background-color: #F2F2F2 !important;
  position: fixed !important;
  bottom: 0px !important; }

.nav-footer i {
  color: #8D8D92 !important; }

.btn-custom {
  background-color: #1ABBA1 !important; }

.title-center {
  text-align: center; }

.App {
  text-align: center; }

.Page {
  text-align: center; }

.Section {
  margin: 0 5%; }

.hyper-text {
  color: #3398DC; }

.fb-login {
  padding-top: 40px;
  width: 80%; }

.ul-flex {
  display: flex;
  justify-content: space-between;
  margin: 0 5%; }

.ul-flex li {
  margin: 0 10px; }

.ul-flex li:hover {
  border-bottom: pink !important; }

.img-circle {
  border-radius: 50%; }

.user-name {
  color: #293F54; }

.karma {
  height: 15px;
  width: 15px; }

.form {
  text-align: left; }

.group-inline {
  display: flex;
  margin-bottom: 50px; }

.subtext {
  font-size: 9px;
  color: grey; }

.showdate {
  margin-left: 40px; }

.input-label {
  color: #293F54;
  font-size: 16px; }

.card-content {
  text-align: left; }

@media screen and (min-width: 700px) {
  .Page {
    margin: 0 30%; } }
