doctype html

html
	head
		title="Log in"
		style
			include custom.css
		script(src='/javascript/jquery.js')
		script(src='/javascript/custom.js')
	body
		//- include navbar.pug
		div(class="form-container")
			div(class="form")
				h2 Login to your account
				form(method="POST" onsubmit="return validateLogin()" action="loginhandler") 
					input(id="email" type="text" name="email" value="email")
					br
					input(id="password" type="password" name="password" value="Password")
					p(class="error") * Invalid password or email
					br
					button(type="submit" value="submit") Login
				