$font-stack:   'Roboto', sans-serif;
$mainblue: #1ABBA1;
$darkblue: #293F54;
$lightblue: #3398DC;
$grey1: #303030;
$purple1: #A554C0;
$text1: #FFFFFF;
$primary: #00838f;

body {
  font-family: $font-stack;
}

.nav-header {
  background-color: $darkblue !important;
  color: white !important;
}

.logo{
  font-weight: bold;
  font-size: 18px;
}

.nav-footer {
  background-color: $darkblue !important;
  position: fixed !important;
  bottom: 0px !important;
}

.btn-custom {
  background-color: $mainblue !important;
}

// Navbar
.title-center {
  text-align: center;
}
.App {
  text-align: center;
}

.Page {
  text-align: center;
}

.Section {
  margin: 0 5%;
}

.hyper-text {
  color: $lightblue;
}

.fb-login {
  padding-top: 40px;
  width: 80%;
}

.ul-flex {
  display: flex;
  justify-content: space-between;
}
.ul-flex li {
  margin: 0 10px
}
.img-circle {
  border-radius: 50%;
}
.user-name {
  color: $darkblue;
}
.karma {
  height: 15px;
  width: 15px; }

.form {
  text-align: left;
}
.group-inline {
  display: flex;
  margin-bottom: 50px;
}

.subtext {
  font-size: 9px;
  color: grey;
}

.showdate {
  margin-left: 40px;
}

.input-label {
  color: $darkblue;
  font-size: 16px;
}


@media screen and (min-width: 700px) {
    .Page {
      margin: 0 30%;
    }
}
