$font-stack:    Helvetica, sans-serif;
$mainblue: #1ABBA1;
$darkblue: #293F54;
$lightblue: #3398DC;
$grey1: #303030;
$purple1: #A554C0;
$text1: #FFFFFF;


nav {
  background-color: $darkblue !important;
}

.App {
  text-align: center;
}

.Page {
  text-align: center;
}

.Section {
  margin: 0 3%;
}

.hyper-text {
  color: $lightblue; }

.fb-login {
  padding-top: 40px;
  width: 80%; }



.ul-flex {
  display: flex;
  justify-content: space-between;
}
.ul-flex li {
  margin: 0 10px
}
.img-circle {
  border-radius: 50%;
}
.user-name {
  color: $darkblue;
}
.karma {
  height: 15px;
  width: 15px; }

.form {
  text-align: left;
}
.group-inline {
  display: flex;
  margin-bottom: 50px;
}

.subtext {
  font-size: 9px;
  color: grey;
}

.showdate {
  margin-left: 40px;
}

.input-label {
  color: $darkblue;
  font-size: 16px;
}

.footer-nav {
  position: fixed !important;
  bottom: 0px !important;
}

@media screen and (max-width: 480px) {

}
