.App {
  text-align: center; }

.Page {
  text-align: center; }

.Section {
  margin: 0 3%; }

.hyper-text {
  color: blue; }

.fb-login {
  padding-top: 40px;
  width: 80%; }

form {
  margin-top: 30px;
  margin-left: 5%;
  margin-right: 5%; }
